page-umpire
{
  .verticalLine
  {
    width: 1px; /* Line width */
    background-color: black; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content.
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
  }
}
