/*
 * Please see the included LICENSE.md file for license terms and conditions.
 */

h1 {
	font-family: Papyrus, fantasy;
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 38px;
}

body {
    background: navy;
    color: goldenrod;
    font: 
}

input[type="email"] {
    width: 100%;
    background-color: goldenrod;
    color: navy;
    border: 2px darkgoldenrod;
    border-radius: 4px;
}

input[type="password"] {
    width: 100%;
    background-color: goldenrod;
    color: navy;
    border: 2px darkgoldenrod;
    border-radius: 4px;
}

.align-center {
    text-align: center;
}