
page-find {
  .headfont {
    font-family: 'exoregular';
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 38px;
    color: white;
    background: goldenrod;
  }


  ion-navbar {
    font-family: 'MyFontFamily';
    text-transform: uppercase;
    background-color: red;
  }



  input[type="text"] {
    font-family: 'exoregular';
    font-style: normal;
    font-size: 15px;
  }

  .button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;

  }

  .button:hover {background-color: red}

  .button:active {
    background-color: white;
    transform: translateY(4px);
  }

  body{

    background: #08315E;
  }

  .card {
    position: relative;
    font-family: 'Titillium Web',sans-serif;
    .avatar {
      position: absolute;

    }

    .headfont {
      font-family: 'exoregular';
      font-size: 35px;
      font-style: normal;
      font-variant: normal;
      line-height: 38px;
      color: white;
      background: goldenrod;
      font-weight: normal;
    }

  }
  .card {



    .name {
      position: absolute;
      text-align: center;
      overflow: hidden;
      text-transform: uppercase;
      top: 50%;
      left: 0px;
      width: 100%;
      font-size: 10px;
      font-family: 'Open Sans Condensed',sans-serif;
      font-weight: bold;
      .marquee {
        position: relative;
        white-space: nowrap;
      }
    }
    .runs {
      position: absolute;
      top: 60%;
      left: 20%;
      &:after {
        content: ' :RNS';
        font-weight: bold;
      }
    }
    .wickets {
      position: absolute;
      top: 69%;
      left: 20%;
      &:after {
        content: ' :WKTS';
        font-weight: bold;
      }
    }

    .four {
      position: absolute;
      top: 76%;
      left: 20%;
      &:after {
        content: ' :4s';
        font-weight: bold;
      }
    }

    .highestScore {
      position: absolute;
      top: 60%;
      left: 60%;
      &:after {
        content: ' :HS';
        font-weight: bold;
      }
    }
    .average {
      position: absolute;
      top: 69%;
      left: 60%;
      &:after {
        content: ' :AVG';
        font-weight: bold;
      }
    }

    .six {
      position: absolute;
      top: 76%;
      left: 60%;
      &:after {
        content: ' :6s';
        font-weight: bold;
      }
    }
  }

  .card {
    .pace:after, .shooting:after, .passing:after, .dribbling:after, .defending:after, .heading:after {
      font-family: 'Knul-Medium';
    }
    &.fifa17 {
      font-family: 'Fjalla One',sans-serif;
      color: #000;
      text-shadow: none !important;
      max-width: 227px;


      &.toty, &.goldblue {
        color: #F9E99E !important;
      }
      .avatarholder {
        top: 7%;
        left: 28%;
        width: 50%;
        position: absolute;
      }
      .chemstyle {
        line-height: 28px;

        position: absolute;
        text-align: center;
        overflow: hidden;
        text-transform: uppercase;
        top: 80%;
        width: 100%;
        font-size: 10px;
        font-family: 'Open Sans Condensed',sans-serif;
        font-weight: bold;

      }

      .attributes {
        font-family: 'Lato',sans-serif;

        font-size: 10px;
      }
    }
  }



}
