<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Spectator Screen</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="roster">
        <ion-segment-button value="Scoring">
          Score
        </ion-segment-button>
        <ion-segment-button value="First Innings">
          First Innings
        </ion-segment-button>
        <ion-segment-button value="Second Innings">
          Second Innings
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="roster">
    <div *ngSwitchCase="'Scoring'">
        <div *ngFor ="let item of scoreRef$ | async; let i = index; let lst = last">
          <h2 *ngIf="lst">Runs Scored: {{item.runs}}</h2>
          <h2 *ngIf="lst">Ball Number: {{item.ballNumber}}</h2>
        </div>
      </div>

    <ion-list *ngSwitchCase="'First Innings'">
      <ion-item *ngFor="let items of playersTeamA$ | async;">
        <h2>{{items.$key}} Number: {{items.$value}}</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Second Innings'">
      <ion-item *ngFor="let items of playersTeamB$ | async;">
        <h2>{{items.$key}} Number: {{items.$value}}</h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>



<!--ion-content padding class="action-sheets-basic-page">

  <button ion-button block (click)="openMenu()">
    Show Action Sheet
  </button>
</ion-content !-->
