/*
 * Please see the included LICENSE.md file for license terms and conditions.
 */


@import "../fonts/exofontkit/stylesheet.css";

h1 {
	font-family: 'exoregular';
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 38px;
}

.align-center {
    font-family: 'exoregular';
    text-align: center ;
}

body {


    color: goldenrod;
}



input[type="button"] {
    font-family: 'exoregular';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
    background-color: goldenrod;
    color: navy;
    border: 2px darkgoldenrod;
    border-radius: 4px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.3%;

}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
		height: 120px;
    /* padding: 40px;*/
    text-align: center;

}

.submit {
	height: 40px;
	width: 40px;
	position: relative;
	top: 20px;
	left: 20px;
	background: blue;
	color: gold;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	text-align: center;
}

.submit2 {
	height: 40px;
	width: 40px;
	position: relative;
	padding-right: 20px;
	top: 25px;
	left: 20px;
	background: blue;
	color: gold;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	text-align: center;
}

.runs {
	height: 40px;
	width: 40px;
	position: relative;
	top: 20px;
	background: gold;
	border-style: solid;
	border-color: black;
	color: blue;
}

#tab1 {background-color:red;}
#tab2 {background-color:orange;}
#tab3 {background-color:blue;}
