
page-signIn {
	ion-content {
	.headfont {
	font-family: 'exoregular';
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 38px;
	}
		button {
			top: 75%;
			text-align: center;
}
		ion-item {
			top: 75%;
}
}
}
