# ignore Cordova/PhoneGap CLI directories
# in essence, everything but *.xdk file and www directory
/*
!/skjena
!/www
!/docs
!/config.xml
!/README.md
!/LICENSE.md
!/notes.md
!/intelxdk.config.additions.xml
!/*.xdk
!/.gitignore
!/.jscodehints
!/app.json