page-show{

  .card {
    position: relative;
    font-family: 'Titillium Web',sans-serif;
    .clubbadge, .nationflag, .avatar {
      position: absolute;
    }
  }

  img {

  }
  .card {
    .name {
      position: absolute;
      text-align: center;
      overflow: hidden;
      line-height: 28px;
      text-transform: uppercase;
      top: 174px;
      left: 0px;
      width: 100%;
      font-size: 20px;
      font-family: 'Open Sans Condensed',sans-serif;
      font-weight: bold;
      .marquee {
        position: relative;
        white-space: nowrap;
      }
    }
    .runs {
      position: absolute;
      top: 209px;
      left: 36px;
      &:after {
        content: ' RNS';
        font-weight: 300;
      }
    }
    .wickets {
      position: absolute;
      top: 235px;
      left: 36px;
      &:after {
        content: ' WKTS';
        font-weight: 300;
      }
    }
    .highestScore {
      position: absolute;
      top: 235px;
      left: 136px;
      &:after {
        content: ' HS';
        font-weight: 300;
      }
    }
    .average {
      position: absolute;
      top: 209px;
      left: 136px;
      &:after {
        content: ' AVG';
        font-weight: 300;
      }
    }
    .defending {
      position: absolute;
      top: 235px;
      left: 136px;
      &:after {
        content: ' DEF';
        font-weight: 300;
      }
    }
    .four {
      position: absolute;
      top: 261px;
      left: 36px;
      &:after {
        content: ' 4s';
        font-weight: 300;
      }
    }

    .six {
      position: absolute;
      top: 261px;
      left: 136px;
      &:after {
        content: ' 6s';
        font-weight: 300;
      }
    }
  }

  .card {
    .pace:after, .shooting:after, .passing:after, .dribbling:after, .defending:after, .heading:after {
      font-family: 'Knul-Medium';
    }
    &.fifa17 {
      font-family: 'Fjalla One',sans-serif;
      color: #000;
      text-shadow: none !important;
      max-width: 227px;
      display: block;
      margin: auto;
      img {
        max-width: 100%;
        height: auto;
      }
      .player-card {
        width: 227px;
        height: 10px;
        align-items: center;
      }
      &.toty, &.goldblue {
        color: #F9E99E !important;
      }
      .avatarholder {
        top: 41px;
        left: 88px;
        width: 133px;
        height: 133px;
        position: absolute;
      }
      .chemstyle {
        line-height: 28px;
        text-transform: uppercase;
        top: 293px;
        right: 10px;
        width: 220px;
        font-size: 20px;
        position: absolute;
        text-align: center;
      }
      .chemstylename {
        padding-left: 4px;
      }
      .avatar {
        bottom: 10px;
        right: 30px;
        width: 133px;
        height: 133px;
      }
      .player-card {

        width: 227px;
        height: auto;

      }

      .clubbadge {
        top: 90px !important;
        left: 39px;
        width: 46px;
        height: 46px;
      }
      .nationflag {
        top: 140px !important;
        left: 38px;
        height: 29px;
        width: auto;
      }
      .attributes {
        font-family: 'Lato',sans-serif;

        font-size: 20px;
      }
    }
  }
}