<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title class="bar">Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-fab right bottom>
<button ion-fab color="white"><ion-icon name="add"></ion-icon></button>
</ion-fab>
<ion-list>
	<ion-list-header text-center class="headfont"> Show All Players </ion-list-header>


</ion-list>

<div padding>

</div>

<ion-list>
  <ion-item *ngFor ="let date of userRef$ | async" (click) = "selectdate(date)" >
  <ion-item *ngFor ="let player of playerRef$ | async" (click) = "selectuser(player)" >
    <h2>Date: {{date.runs}} </h2>
    <p> Player Name :{{player.name}} </p>
    <p> Player Runs :{{player.runs}} </p>
  </ion-item>
  </ion-item>
</ion-list>
</ion-content>
