
page-getter {
	.headfont {
	font-family: 'exoregular';
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 38px;
	}

  input[type="text"] {
  font-family: 'exoregular';
	font-style: normal;
  font-size: 15px;
}


}
