/*
 * Please see the included LICENSE.md file for license terms and conditions.
 */


@import "../fonts/exofontkit/stylesheet.css";
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone (html and body below) */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}
img {
    max-width: 300px;
    max-height: 300px;
    text-align: left;
    display: block;
    margin: 0 auto;
}

body
{
    background-image: url("../img/cricket.png");
    color: red;
    line-height: 20px;
    font-size: 40px;
    width: 200px;
    height: 40px;

}


img.toggle {
    position: fixed;
    size: 10%;
    left: 10px;
    top: 10px;
}

#sidebar {
    position: fixed;
    display: inline-block;
    font-family: 'exoregular';
    top: 0px;
    height: 100%;
    width: 200px;
    left: -200px;
    background-color: darkgoldenrod;
    transition: all 0.5s ease-in-out;
}

input[type="text"] {
  font-family: 'exoregular';
	font-style: normal;
  font-size: 15px;
  line-height: 20px;
	font-variant: normal;
	font-weight: normal;
    background-color: navy;
    color: goldenrod;
    border: 2px darkgoldenrod;
    border-radius: 4px;
    text-align: center ;
}

input[type="button"] {
    font-family: 'exoregular';
	font-style: normal;
  font-size: 15px;
  line-height: 20px;
	font-variant: normal;
	font-weight: normal;
  background-color: navy;
  color: goldenrod;
  text-align: center ;
}



.align-center {
    font-family: 'exoregular';
    text-align: left ;
}
